{% extends 'base.html.twig' %}

 {% block body %}
     {% autoescape 'js' %}
         Everything will be automatically escaped in this block
         using the js escaping strategy
     {% endautoescape %}
     <div>
         {% if messages|length >0 %}
             {% for key, message in messages|slice(0, limit) %}
                 {{ dump(key) }}
                 <div>
                     <a href="{{ path('app_show_one', {id : key}) }}">{{ message.message }}</a>
                     </div>
                {{ include('hello/_message.html.twig') }}
             {% endfor %}
         {% else %}
         {% endif %}
     </div>
 {% endblock %}
